CMakeLists.txt.user
CMakeCache.txt
src/*.h++
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.cmake
math.*
*.tar.*
*.zip
*.7z
*-Linux.sh
_CPack_Packages
dist
build/*